* {
  overflow-x: hidden;
}

@media screen and (max-width: 550px) {
  #margin-row {
    display: grid;
    grid-template-columns: 1fr;
  }
  #search-form {
    font-size: 10px;
    display: grid;
    grid-column: 1fr;
  }
}

@media screen and (max-width: 768px) {
  #name {
    position: relative;

    min-width: 200px;
  }
  #search-form {
    min-width: 210px;
    position: relative;
  }
  #margin-row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }
  .resultPanel {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; */
    margin: 20px;
    /* height: 200px; */
  }

  .movie,
  .giphy {
    display: block;
    position: relative;
  }
}

@media screen and (min-width: 898px) {
  .resultPanel {
    grid-template-columns: 5fr 3fr;
  }
}
@media screen and (min-width: 1100px) {
  .resultPanel {
    grid-template-columns: 1fr 1fr;
  }
}

body,
html {
  color: rgb(44, 44, 44);
  background-color: rgba(24, 24, 24, 0.822);
}

.button-generated {
  box-sizing: content-box;
  height: 40px;
  font-size: 20px;
  margin: 15px 6px;
  overflow: hidden;
  background-color: #525252;
  color: rgb(190, 184, 184);
  border: none;
  text-transform: capitalize;
}

#name {
  /* width: 100%; */
  overflow: initial;
  border: 3px solid rgb(54, 54, 54);
  border-radius: 15px;
}
.panel {
  overflow-x: auto;
  box-sizing: border-box;

  background: rgb(121, 121, 121);
  border-radius: 25px;
}

.text-dark {
  font-weight: 900;
  border-radius: 25px;
}

#button-list {
  margin: 30px 0;
  background: rgba(59, 59, 59, 0.521);
  padding: 5px;
  box-sizing: border-box;

  padding: 10px;
  overflow: hidden;
  border-top: 5px solid rgb(219, 179, 0);
  border-bottom: 5px solid rgb(219, 179, 0);
}

.header-section {
  padding: 20px;
  display: grid;
  position: relative;
  width: 100%;
  place-items: start;
}

#margin-row {
  box-sizing: border-box;
  display: grid;
  background: rgba(134, 134, 134, 0.521);
  padding: 10px;
  grid-template-columns: 2fr 3fr;
  border: 5px solid rgb(219, 179, 0);
  width: 98%;
  /* box-shadow: black;
  box-shadow: 0 0 6px 4px rgba(17, 17, 17, 0.521); */
  grid-template-rows: auto;
  overflow: hidden;
}

#header-text {
  font-size: 20px;
}

#userInput {
  background: #9e9e9e;
  border: none;
  min-width: 0px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: unset;
  height: 70px;
  margin-right: -5px;
  box-shadow: inset 0 0 10px #000000;
  font-size: 20px;
}
#userInput:focus {
  outline: none;
}

#search {
  font-size: 20px;
  color: rgb(190, 190, 190);
  border: 0;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#535353),
    to(#353535)
  );
  background-image: linear, left top, right top, from(#c5c5c5), to(#353535);
  padding: 0 22px 0 18px;
  height: 70px;
}
#search:focus {
  outline: none;
}
#search:hover {
  box-shadow: 0 0 6px 1px rgba(17, 17, 17, 0.521);
}

.fs {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  z-index: 2;
  border-radius: 10px;
}
.fs:before {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.fs:hover,
.fs:focus,
.fs:active {
  box-shadow: 0 0 2px 2px rgb(214, 175, 0);
  color: rgb(219, 179, 0);
  background: #2e2e2e;
  z-index: 5;
  -webkit-transform: translateY(-5px);
  transform: translateY(-9px);
  /* move the element up by 5px */
}
.fs:hover:before,
.fs:focus:before,
.fs:active:before {
  box-shadow: 0 0 5px 5px rgb(212, 191, 0);
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

#content {
  width: 98%;
  border-radius: 25px;
  border: 5px solid rgb(219, 179, 0);
}

.resultPanel {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  margin: 20px;

  overflow: hidden;
}

.giphy,
.movie {
  padding: 100px 20px 20px 20px;
  position: relative;
  overflow: initial;
  font-size: 20px;
  border: 4px solid rgb(219, 179, 0);
  border-radius: 15px;
  margin-bottom: 20px;
}

.giphy {
  padding-top: 110px;
  display: grid;
  grid-template-columns: 1fr;
  color: rgb(218, 171, 42);
  background-color: rgb(59, 59, 59);
  margin-right: 10px;
}

.movie-photo {
  width: 100%;
  margin: 10px;
  background-size: cover;
}

.movie-title {
  color: rgb(247, 247, 247);
  background-color: rgb(219, 179, 0);
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
}

.movie-detail {
  background-color: rgb(46, 46, 46);
  color: rgb(219, 179, 0);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 15px;
  border: 5px solid rgb(219, 179, 0);
}

.favbtn {
  width: 50px;
  height: 50px;

  color: white;
  margin-bottom: 50px;
  text-align: center;
  background-color: transparent;
  /* border: 3px solid white; */
  border: none;
  outline: none;
}

.favbtn:hover {
  border: 3px solid red;
  border-radius: 40px;
}

#imdb-logo {
  font-size: 65px;
  position: absolute;
  top: 20px;
  left: 45%;
}

#giphy-logo {
  position: absolute;
  top: 20px;
  left: 40%;
}

.each-rating {
  margin-bottom: 0;
}

.favbtn-clicked {
  color: red;
  border: none;
}
.favbtn:focus {
  outline: none;
}
